.hero-container {
    background: rgb(237, 226, 255);
    background: linear-gradient(0deg, rgba(255, 254, 254, 1) 0%, rgba(253, 227, 224, 1) 54%, rgba(237, 226, 255, 1) 100%);
}

.hero {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 8rem 0 5rem;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
}

.hero h1 span {
    background: linear-gradient(120deg, #6557ff, #aa3fff 100%);
    background-clip: text;
    color: transparent;
}

.hero p:first-of-type {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.hero p:last-of-type {
    margin-bottom: 1.8rem;
}

.hero button {
    padding: 0.7rem 2rem;
    background: linear-gradient(120deg, #6557ff, #aa3fff 50%, #f8522e 100%);
    color: white;
    border-radius: 12px;
    font-weight: 500;
    /* font-size: 1rem; */
    border: none;
}

.slider-text {
    font-weight: 600;
    font-size: 1rem;
    padding: 2rem 0 4rem;
}

@media (max-width: 475px) {
    .hero {
        width: 95%;
    }
    .hero h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}