.testimonies {
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 30px;
    background-color: #f8f9fc;
    width: 800px;
    /* max-width: 1000px; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 3rem;
}

.testimonies figure {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.testimonies figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonies-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.testimonies-testimony {
    font-weight: 500;
    font-size: 18px;
}

.testimonies-footer {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.testimonies-footer p:first-of-type {
    font-weight: 500;
    font-size: 18px;
}

.testimonies-footer p:last-of-type {
    color: gray;
}

.commas {
     font-size: 1.5rem;
    display: flex;
    align-items: end;
}

@media (max-width: 1024px) {
    .testimonies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        padding: 2rem;
    }

}

@media (max-width: 475px) {
    .testimonies {
        width: 250px;
        padding: 1.5rem;
    }
}